<header id="header">
	<h1 id="title" style="color: snow; font-size: 4em"><%= pageTitle %></h1>
	<nav id="navigation">
		<a href="/"
			class="nav">Home</a>
		<a href="/files"
			class="nav">Files</a>
		<a href="/data"
			class="nav">Data</a>
		<a href="/form"
            class="nav">Form</a>
	</nav>
</header>