<% include partials/template/header %>
<div id="container">
    <% include partials/template/nav %>
    <div class="sections">
        <div id="formData">
            <h1>Here goes all the submitted data</h1>
            <table>
            <div class="data"></div>
            </table>
        </div>
    </div>
</div>
<% include partials/template/jsdefaults.ejs %>
<% include partials/template/footer %>