<% include partials/template/header %>
<div id="container">
    <% include partials/template/nav %>
    <div class="sections"><h1 id="success">Your form has been submitted successfully.</h1>
    </div>
</div>
<% include partials/template/footer %>